* {
  padding: 0px;
  margin: 0px;
}
nav {
  display: flex;
  justify-content: space-between;
  border-radius: 70px;
  background-color: #ffffff;
  padding: 0 32px;
}

#logo,
#group,
#profile {
  display: flex;
  align-items: center;
  gap: 10px;
}
section > div {
  display: flex;
  align-items: center;
}
#group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

#group > div p {
  margin-left: 8px;
}
.flex {
  display: flex;
}
